<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>todos</title>
    </head>
    <body>
        <ol>
            {% for todo in todos %}
            <li>{{ todo }}</li><a href="{{ url_for('remove', index=loop.index) }}">Remove</a>
            {% endfor %}
        </ol>
        <form method="POST" action="{{ url_for('add') }}">
            <input type="text" name="todo">
            <input type="submit" value="Add Todo">
        </form>
        <a href="{{ url_for('download') }}">Download</a>
    </body>
</html>
