#tickers-grid {
    display: flex;
    flex-wrap: wrap;
}

.stock-box {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    transition: background-color 0.5s;
    background: #eee;
}

.dark-red {
    color: #880000;
}

.red {
    color: #FF0000;
}

.gray {
    color: #808080;
}

.green {
    color: #00BB00;
}

.dark-green {
    color: #006600;
}

#tickers-grid {
    display: flex;
    flex-wrap: wrap;
}

.stock-box {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    color: black;
}


.red-flash {
    transition: background-color 1s;
    background-color: #ffcccc !important;
}

.green-flash {
    transition: background-color 1s;
    background-color: #ccffcc !important;
}

.gray-flash {
    transition: background-color 1s;
    background-color: #ccc !important;
}
